#html .modal-content {
	position: relative;
	left: 15%;
	background-color: var(--c-bg-primary);
	margin: 65px 10px;
	padding: 20px;
	min-width: 20%;
	max-width: 70%;
	height: 80%;
    /* min-height: 450px; */
    border: 2px solid var(--c-text-secondary);
    border-radius: 6px;
    overflow: auto;
    @media only screen and (min-width: 960px) {
        max-width: 50%;
        left: 25%;
    }
}
#html .close {
	display: none;
}