.cont {
	position: relative;
	display: grid;
	grid-template-columns: 40% 10% 40% 10%;
	grid-template-rows: auto;
	grid-template-areas: 
	"title title title okButton"
	"description description description description"
	"setTimeText setTimeText setTimeText setTimeText"
	"date date time time"
	"delete delete delete delete";
	background-color: var(--c-bg-primary);
}
.item-a {
	grid-area: title;
	background-color: var(--c-bg-primary);
	border: 4px solid var(--c-text-secondary);
	border-radius: 6px;
	color: var(--c-text-secondary);
	margin: 0 10px 10px 0;
}
.item-b {
	grid-area: delete;
	cursor: pointer;
	background: red;
	color: var(--c-text-secondary);
	border-color: var(--c-text-secondary);
	border-radius: 6px;
	margin-top: 10px;
	padding: 10px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	&:hover {
		background-color: #cc0000;
	}
	&:active {
		background-color: #cc0000;
	}
}
.item-c {
	grid-area: description;
	background-color: var(--c-bg-primary);
	border: 4px solid var(--c-text-secondary);
	border-radius: 6px;
	color: var(--c-text-secondary);
	padding: 10px;
	font-size: 16px;
	font-family: "Times New Roman";
	font-style: italic;
}
.item-d {
	grid-area: setTimeText;
	margin: 10px;
}
.item-e {
	grid-area: date;
	background-color: var(--c-bg-primary);
	border: 4px solid var(--c-text-secondary);
	border-radius: 6px;
	color: var(--c-text-secondary);
	margin: 10px 10px 10px 0;
	padding: 10px;
	font-size: 16px;
	font-family: "Times New Roman";
	font-style: italic;
}
.item-f {
	grid-area: time;
	background-color: var(--c-bg-primary);
	border: 4px solid var(--c-text-secondary);
	border-radius: 6px;
	color: var(--c-text-secondary);
	margin: 10px 0 10px 10px;
	padding: 10px;
	font-size: 16px;
	font-family: "Times New Roman";
	font-style: italic;
}
.item-g {
	grid-area: okButton;
	cursor: pointer;
	font-size: 16px;
	background-color: var(--c-text-primary);
	color: white;
	border: none;
	border-radius: 6px;
	margin: 0 0 10px 0;
	&:hover {
		background-color: var(--c-bg-tertiary);
	}
	&:active {
		background-color: var(--c-bg-tertiary);
	}
}

::placeholder {
	color: var(--c-placeholder);
	opacity: 1;
	font-family: "Times New Roman";
	font-style: italic;
}
::-ms-input-placeholder {
	color: var(--c-placeholder);
}