<div> <!-- CONTAINER START -->
	<div *ngFor="let tasks of ts.tasks"><!-- MAIN DIV START -->

		<div><!-- beginning of TODAY -->
			<h1 for="today">Today</h1>
			<div>
				<button (click)="modal.show({component:'task', task: task})">
					<h3>{{tasks.name}}</h3>
					<p>{{tasks.description}}</p>
					<p>{{tasks.date}}</p>
					<p>{{tasks.time}}</p><br>
				</button>
			</div>
			<div>		
				<button type="button" (click)="ts.delete(tasks)">Delete
				</button>
			</div>
		</div><!-- end of TODAY -->

		<div><!-- beginning of UPCOMING -->
			<h1 for="upcoming">Upcoming</h1>
			<div>
				<button (click)="modal.show({component:'task', task: task})">
					<h3>{{tasks.name}}</h3>
					<p>{{tasks.description}}</p>
					<p>{{tasks.date}}</p>
					<p>{{tasks.time}}</p><br>
				</button>
			</div>
			<div>		
				<button type="button" (click)="ts.delete(tasks)">Delete
				</button>
			</div>			
		</div><!-- end of UPCOMING -->

	</div><!-- MAIN DIV END-->

	<div><!-- MAIN Button START-->
		<button type="button" id="today" class="material-icons" (click)="ts.create(task); modal.show({component:'task', task: task})">add
		</button>
	</div><!-- MAIN Button END-->

</div> <!-- CONTAINER END -->



