<div> <!-- CONTAINER STARTS -->

	<div *ngFor="let task of ts.tasks"><!-- MAIN DIV STARTS -->

		<!-- -------------------------------------------------------------------------------TODAY----------------------- -->

		<div>{{ts._tasks.status.today}}
			<h1>Today</h1>
			<!-- <p>{{ts._tasks.status.today}}</p> -->
			<div>
				<button (click)="modal.show({component:'task', task})">
					<h3>{{task.name}}</h3>
					<p>{{task.description}}</p>
					<p>{{task.date}}</p>
					<p>{{task.time}}</p><br>
				</button>
			</div>
			<div>		
				<button type="button" (click)="ts.delete(task)">Delete
				</button>
			</div>
		</div>

		<!-- ---------------------TODAY----------------------------------------------------------------------------------- -->

		<!-- -------------------------------------------------------------------------------UPCOMING---------------------- -->

		<div>{{ts._tasks.status.upcoming}}
			<h1>Upcoming</h1>
			<!-- <p>{{ts._tasks.status.upcoming}}</p> -->
			<div>
				<button (click)="modal.show({component:'task', task})">
					<h3>{{task.name}}</h3>
					<p>{{task.description}}</p>
					<p>{{task.date}}</p>
					<p>{{task.time}}</p><br>
				</button>
			</div>
			<div>		
				<button type="button" (click)="ts.delete(task)">Delete
				</button>
			</div>			
		</div>

		<!-- --------------------UPCOMING-------------------------------------------------------------------------------- -->

	</div><!-- MAIN DIV ENDS-->

	<!-- --------------------------------------------------------------------------------------MAIN BUTTON-------------------- -->
	<div>
		<button type="button" id="today" class="material-icons"
		(click)="display()">add
	</button>
</div>
<!-- ---------------------------MAIN BUTTON--------------------------------------------------------------------------------------- -->

</div> <!-- CONTAINER ENDS -->



